@import url("https://use.typekit.net/jzu1kdb.css");
/* this provides adobe fonts */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  transition-property: opacity, background, transform, filter;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}

.page-transition {
  opacity: 0;
  background: rgb(39, 38, 38);
  transform: translateY(40px);
  filter: blur(12px);
} */

.swiper-wrapper {
  width: 100%;
  height: max-content !important;
  padding-bottom: 64px !important;
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  position: relative;
}
.swiper-pagination-current {
  color: #111827 !important;
}
.swiper-pagination-total {
  color: #9ca3af;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* .swiper-slide.swiper-slide-active,
.swiper-slide.swiper-slide-active.h-48,
.swiper-slide.swiper-slide-next,
.swiper-slide.swiper-slide-prev {
  height: 250px !important;
}
.swiper {
  height: 250px;
} */
div.swiper-button-prev,
div.swiper-button-next {
  background-color: #2f3116 !important;

  color: #d5d6d0;
  padding: 0rem 1.3rem;
  border-radius: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  cursor: pointer;
}
div.swiper-button-prev::after,
div.swiper-button-next::after {
  font-size: 1em;
}
